.main {
  min-height: 50vh;
  display: grid;
  gap: 10px;
  grid-template-columns: 575px 1fr;
  align-items: center;
  justify-content: left;
}

.image {
  justify-self: left;
}

.texts h1,
.team h1 {
  font-size: 70px;
}

.team {
  min-height: 80vh;
}

.team h1 {
  text-align: center;
}

.cardsHolder {
  margin-top: 20px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
