.cards-session,
.details {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1.0875rem 1.45rem;
}

.details {
  min-height: 100vh;
  display: grid;
  gap: 20px;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
