.container {
  height: 85vh;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, 575px);
  align-items: center;
}

.title > h1 {
  font-size: 72px;
  font-weight: 700;
}

.subTitle > p {
  font-size: 30px;
  font-weight: 500;
}
