.container {
  /* Subtract the window height with header height to properly center it */
  height: calc(100vh - 140px);
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 575px;
  align-items: center;
  justify-content: left;
  margin: 0 auto;
  padding: 0;
}

.title {
  font-size: 70px;
  font-weight: 600;
}

.subTitle {
  font-size: 35px;
  font-weight: 300;
  line-height: 52.5px;
}

.image {
  justify-self: right;
}
