.container {
  /* Subtract the window height with header height to properly center it */
  height: calc(100vh - 140px);
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, 575px);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 1.0875rem 1.45rem;
}

.title > h1 {
  font-size: 70px;
  font-weight: 600;
}

.subTitle > h2 {
  font-size: 35px;
  font-weight: 300;
}
