.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 575px);
    align-items: center;
}

.title>h1 {
    font-size: 42px;
    font-weight: 600;
}

.subTitle>h2 {
    margin: 40px 0;
    font-size: 32px;
    font-weight: 300;
}

a {
    color: inherit;
}

.texts>p {
    line-height: 30px;
}