.container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr minmax(200px, 1fr);
  align-items: center;
  justify-content: space-evenly;
}

.title > h1 {
  font-size: 42px;
  font-weight: 600;
}

.subTitle > h2 {
  margin: 40px 0;
  font-size: 32px;
  font-weight: 300;
}

a {
  color: inherit;
}

.texts > p {
  line-height: 30px;
  margin: 5px 0;
}

.quote {
  padding-left: 25px;
  font-size: 12px !important;
}

.supportedServices {
  padding-left: 25px;
}

.supportedServices p {
  display: flex;
  align-items: center;
}

.supportedServices p img {
  margin-right: 10px;
}

.buttonsContainer {
  display: flex;
}

.buttonsContainer a {
  text-decoration: none;
}
