header {
  background: transparent;
}

.menu {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1.45rem 1.0875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu > h1,
.menu > h4 {
  margin: 0;
}

.menu img {
  width: 150px;
}

.nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.nav > h4 {
  transition: all ease 0.3s;
  border-bottom: 1px solid transparent;
}

.nav > h4:hover {
  border-bottom: 1px solid #00d4ff;
}

.links {
  color: #ecf8ff;
  text-decoration: none;
}
