header {
  background: transparent;
}

.menu {
  margin: 0 auto;
  max-width: 1366px;
  height: 120px;
  padding: 1.45rem 1.0875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu > h1 {
  margin: 0;
}

.menu img {
  margin: 0;
  width: 150px;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.links {
  font-weight: 600;
  color: #ecf8ff;
  transition: all ease 0.3s;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.links:hover {
  border-bottom: 1px solid #00d4ff;
}

.links.active {
  border-bottom: 1px solid #00d4ff;
}
